<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.jpg">
    <title>about</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site works together with http://api.weatherstack.com and https://api.mapbox.com. When any user enter a location , it returns weather of related location.</p>
        <img class="portrait" src="/img/photo.jpg" alt="unable to load image">
    </div>

    {{>footer}}
</body>
</html>